<div style="width: 96%;">
	{% block header %}{% endblock %}
	
	
	{% for message in UKMmodul_messages %}
		<div class="alert alert-{{ message.level }}">{{ message.message }}</div>
	{% endfor %}


	{% block content %}
	
	{% endblock %}
</div>