{% extends "_layout.html.twig" %}

{% block content %}
	<h3>Personregistrering</h3>
	<p class="help-text">OBS: Denne skal kun brukes til etterregistrering av personer som av en eller annen grunn ikke har blitt importert før. Vi lister dermed opp personer som finnes allerede når du fyller inn navn eller mobilnummer. Dobbeltsjekk at personen ikke finnes fra før.</p>

	<div class="col-xs-12 col-sm-6">
		<form id="addPersonForm">
			<h3>Velg gruppe-tilhørighet</h3>
			<select class="form-control" name="herd" id="herd">
				{% for herd in herds %}
					<option value="{{ herd.getId() }}">{{ herd.getName() }}</option>
				{% else %}
					<option value="">Ingen grupper tilgjengelig!</option>
				{% endfor %}
			</select>
			<h3>Personinfo</h3>
			<label>Fornavn</label>
			<input type="text" class="form-control" name="personFornavn" id="personFornavn">
			<label>Etternavn</label>
			<input type="text" class="form-control" name="personEtternavn" id="personEtternavn">
			<label>Mobil</label>
			<input type="tel" class="form-control" name="number" id="personMobil">
			<label>RFID</label>
			<input type="text" class="form-control" name="rfidValue" id="rfidValue" autocomplete="off">
			<p class="font-weight-bold">Info lagres når du scanner ID-kortet.</p>
			<button id="commitPerson" class="btn btn-large btn-success">eller trykk her</button>
		</form>
		<div class="alert alert-success" id="registerSuccess">Bruker registrert!</div>
		<div class="alert alert-danger" id="registerFailure">Klarte ikke å registrere brukeren. Feilmelding: <span id="registerError"></span></div>
		<div class="alert alert-info" id="registerInfo"></div>
	</div>

	<script type="text/javascript">
	// Når fornavn, etternavn eller mobilnummer oppdateres, trigg et nytt søk etter personer som matcher.
	jQuery(document).ready(function() {
		jQuery("#registerSuccess").hide();
		jQuery("#registerFailure").hide();
		jQuery("#registerInfo").hide();

		jQuery("#personMobil").change(function(e) {
			if(e.originalEvent)
				countMatchingPersons();
		});
		jQuery("#personFornavn").change(function(e) {
			if(e.originalEvent)
				countMatchingPersons();
		});
		jQuery("#personEtternavn").change(function(e) {
			if(e.originalEvent)
				countMatchingPersons();
		});

		jQuery("#commitPerson").click(function(e) {
			e.preventDefault();
			registerUser();
		});
	});
	
	// Funksjon som søker etter 
	function countMatchingPersons() {
		console.log("Søker...");
		var personFornavn =	jQuery("#personFornavn").val();
		var personEtternavn = jQuery("#personEtternavn").val();
		var personMobil = jQuery("#personMobil").val();

		var postData = {
			'action': 'RFID_ajax',
			'subaction': 'search',
			'personFornavn': personFornavn,
			'personEtternavn': personEtternavn,
			'personMobil': personMobil
		};

		jQuery.post(
			ajaxurl,
			postData,
			function(response) {
				console.log(response);
				if(response.success) {
					jQuery("#registerInfo").html("Fant "+response.matchingPersons+" personer med samme navn og mobilnummer.");
					jQuery("#registerInfo").show();	
				}
			},
			"json"
		);
	}

	// Når bruker faktisk registreres.
	function registerUser() {
		jQuery("#registerSuccess").hide();
		jQuery("#registerFailure").hide();
		jQuery("#registerInfo").hide();

		var personFornavn =	jQuery("#personFornavn").val();
		var personEtternavn = jQuery("#personEtternavn").val();
		var personMobil = jQuery("#personMobil").val();
		var herdid = jQuery("#herd").val();
		var rfid = jQuery("#rfidValue").val();

		var postData = {
			'action': 'RFID_ajax',
			'subaction': 'registerPerson',
			'personFornavn': personFornavn,
			'personEtternavn': personEtternavn,
			'personMobil': personMobil,
			'herd': herdid,
			'rfidValue': rfid
			// Skal foreignId være med må den ha noe som gjør den unik - hvis ikke vil alle registreringer kun oppdatere èn person med nye verdier.
		};

		console.log(postData);
		jQuery.post(
			ajaxurl,
			postData,
			function(response) {
				console.log(response);
				if(response.success) {
					jQuery("#personFornavn").val("");
					jQuery("#personEtternavn").val("");
					jQuery("#personMobil").val("");
					jQuery("#rfidValue").val("");

					jQuery("#registerSuccess").show();
				} else {
					jQuery("#registerFailure").show();
					jQuery("#registerError").html(response.message);
				}

				if(response.info) {
					jQuery("#registerInfo").show();
					jQuery("#registerInfo").html(response.info);
				}
			}, 
			"json"
		);
		
	}
	</script>
{% endblock %}