{% extends "report_pia.html.twig" %}

{% block header %}
	<h1>
		<img src="/wp-content/plugins/UKMRFIDwp/img/id-48.png" width="40" style="float: left; margin-right: 10px" />
		<a href="?page=RFID">RFID</a> / 
		<a href="?page=RFIDreports">Rapporter</a> /
		Evakuering av {{ area.getName() }}
	</h1>
	
	
	<h1 style="margin-top: 1em;">VARSLE FØLGENDE PERSONER</h1>
	<ol class="list-group">
		<li class="list-group-item">Torstein Siegel 907 55 685</li>
		<li class="list-group-item">Eli Krogstad 416 16 813</li>
	</ol>

	<ol class="list-group">
		<li class="list-group-item">
			<img src="//ico.ukm.no/evac-32.png" width="32" style="float:left; margin-right: 20px;" />
			<p style="margin-top: 5px;">
				<b>
					Oppmøtested:
				</b>
				 fotballbanen
			</p>
			<div class="clearfix"></div>
		</li>
	</ol>
	
	
	<h1 style="margin-top: 1em; margin-bottom: -1em;">Listen nedenfor viser hvem som var registrert inn i {{ area.getName() }}</h1>
	
{% endblock %}