{% extends "_layout.html.twig" %}

{% block content %}
	<h3>{{ selectedArea is defined ? selectedArea : 'Velg område' }}</h3>
	{% if selectedArea is not defined %}

	{% endif %}

	<div class="col-12">
		{% for scanner in scanners %}
			<div class="col-xs-3 scannerBox card" id="scannerBox-{{ scanner.id }}">
				<div class="card-body">
			        <span class="scannerInfo"></span>
			        <span class="personInfo"></span>
			        <span class="personHerd"></span>
			        <div class="infoBox">
			            <div class="col-1 editButton">E</div>
			            <div class="col-11">
			                <span class="scannerDirection">UT</span><br>
			                ID: <span class="scannerID"></span>
			            </div>
			        </div>
			    </div>
			</div>
		{% endfor %}
	</div>

	<script type="text/javascript">

	jQuery( document ).ready(function() {
		console.log("Checking for session cookie");
		var postData = {
			'action': 'RFID_ajax',
			'subaction': 'scannerMonitorSettings'
		};
		jQuery().post(
			ajaxurl,
			postData,
			function(response) {
				console.log(response);
			},
			"json"
		);
	});
		var scannerEventSource = new EventSource("rfidnode.ukm.no/stream/239/");
		scannerEventSource.onmessage = function(event) {
			console.log(event);
		};
	</script>
{% endblock %}