{% extends "_layout.html.twig" %}

{% block content %}
	<h3>Velg Scanner</h3>
	<div class="col-12">
		<form method="POST">
			<input type="hidden" name="addScanner" value="true">
			<select class="form-control" name="scannerId"> 
			{% for scanner in scanners %}
				<option id="{{ scanner.getId() }}">{{ scanner.getName() }}</option>
			{% else %}
				<option disabled>Ingen aktive scannere!</option>
			{% endfor %}
			</select>
			<input type="submit" class="btn btn-small" value="Legg til">
		</form>
	</div>
	<div class="col-12">
		<h3>Valgte scannere:</h3>
		{% for scanner in selectedScanners %}
			<div class="col-xs-3 scannerBox card" id="scannerBox-{{ scanner.id }}">
				<div class="card-body">
			        <span class="scannerInfo"></span>
			        <span class="personInfo"></span>
			        <span class="personHerd"></span>
			        <div class="infoBox">
			            <div class="col-1 editButton">E</div>
			            <div class="col-11">
			                <span class="scannerDirection">UT</span><br>
			                ID: <span class="scannerID"></span>
			            </div>
			        </div>
			    </div>
			</div>
		{% endfor %}
	</div>

	<script type="text/javascript">

	jQuery( document ).ready(function() {
		console.log("Checking for session cookie");
		var postData = {
			'action': 'RFID_ajax',
			'subaction': 'scannerMonitorSettings'
		};
		jQuery.post(
			ajaxurl,
			postData,
			function(response) {
				console.log(response);
				if(response.success) {
					setupSSE(response.scannerList);
				}
			},
			"json"
		);
	});
		

	function setupSSE(scannerList) {
		console.log(scannerList);

		var scanner_string = "";

		for( i = 0; i < scannerList.length; i++) {
			scanner_string += scannerList[i].scanner_id;
			if ( i < scannerList.length-1 ) {
				scanner_string += "_";
			}
		}

		var scannerEventSource = new EventSource("//rfidnode.ukm.no/stream/" + scanner_string);
		scannerEventSource.onmessage = function(event) {
			console.log(event);
		};	
	}
	
	</script>
{% endblock %}